@media screen and (max-width: 480px){
    *{
        margin: 0;padding: 0;
    }
    /* ---  NAVBAR --- */
    /* ---------------------------------------------------------------- */
    .btn_menu{
        width: 10%;
    }
    .btn_menu img{
        display: block;
        position: sticky;
        top: 2vh;
        margin-left: 85vw;
        margin-top: 2vh;
    }

    .btn_menu img{
        height: 3vh;
        width: 5vh;
    }

    .btn_menu:hover
        .navbar{
            display: block;
            position: absolute;
            height: 34vh;
            width: 95vw;
            margin-top: 1vh;
            margin-left: 2vw;
            margin-bottom: -5vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .navbar .nav_item{
            margin-top: -1vh;
            margin-bottom: -1vh;
        }
        .second{
            display: none;
            width: 25vw;
            position: absolute;
            left:35vw;
        }

    .btn_menu .navbar{
        display: none;
    }
    /* ---  CONTAINER  --- */
    /* ---------------------------------------------------------------- */
    .container{
        margin-top: 2vh;
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .container div{
        margin: 0px;
    }
    .container .img{
        z-index: 1;
        margin-top: -10vh;
        position: absolute;
        height: 120vh;
        width: 100%;
        animation: none;
        opacity: 0.5;
    }

    .container .info{
        z-index: 2;
        position: absolute;
        margin-left: 0vw;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: sans-serif;
    }
    .container .info h4{
        margin: 15px 0px;
    }
    .container .info p{
        margin: 5px;
    }
    .container .info ul{
        margin-left: 10px;
    }
    .container .info .btn{
        margin-left: 15vw;
        margin-top: 5vh;
        margin-bottom: 2vh;
        height: 10vh;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .container .info .btn .buy{
        height: 7vh;
        width: 60%;
        background-color: rgba(51, 255, 0, 0.714);
        border: none;
        color: white;
    }
    .container .info .btn .buy:hover{
        background-color: rgba(51, 255, 0);    
    }
    
    .container .info .btn .try{
        height: 7vh;
        margin-left: 5vw;
        width: 60%;
        background-color: rgba(255, 25, 0, 0.673);
        border: none;
        color: white;
    }
    .container .info .btn .try:hover{
        background-color: rgba(255, 25, 0);  
    }
}
